swagger: '2.0'

# This is your document metadata
info:
  version: 1.2
  title: MilkBot(R) lactation API
  description: access to MilkBot(R) fitting engine.
  termsOfService: http://milkbot.com/terms/
  contact:
    name: MilkBot Support
    url: http://milkbot.com/support
    email: support@milkbot.com
host: milkbot.com
basePath: fitter
schemes: [http, ws]
consumes:
  - application/json
  - application/xml
produces:
  - application/json
  - application/xml
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: header
paths:
  /fitLactation:
    get:
      description: Fit a lactation.
      parameters:
        - name: lactation
          in: path
          description: a single lactation
          required: true
          lactation:
            $ref: '#/definitions/Lactation'
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Lactation fitted
          schema:
            $ref: '#/definitions/MBParams'
  /fitLactations:
    post:
      description: Fit an array of lactations.
      parameters:
        - name: lactations
          in: body
          required: true
          type: array
          items:
            $ref: '#/definitions/Lactation'
        - name: fitting_priors
          in: body
          required: false
          description: default priors will be used if not supplied
          type: 
            $ref: '#/definitions/Lactation'
     # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Lactations fitted
          schema:
            $ref: '#/definitions/fittingPriors'
definitions:
  MBParams:
    description: MilkBot(R) parameter set.
    type: object
    properties:
      scale:
        type: number
        format: float
      ramp:
        type: number
        format: float
      offset:
        type: number
        format: float
      decay:
        type: number
        format: float
      pt_ct:
        type: number
        format: integer
      std_error:
        type: number
        format: float
      base_unit:
        $ref: '#/definitions/BaseUnit'

  fittingPriors:
    description: Bayesian prior expectations used by fitting engine.
    type: object
    properties:
      means:
        $ref: '#/definitions/MBParams'
      variance:
        $ref: '#/definitions/MBParams'

        
  BaseUnit:
    description: Unit of measurement.
    type: object
    properties:
    name:
        type: string
        description: abbreviated name of measurement unit
        default: "kg"
        enum: [lb, kg, l, g]

  MilkPt:
    description: Measured milk production data point.
    type: object
    properties:
      dim:
        description: Days since calving date
        type: number
        format: integer
      milk:
        type: number
        format: float
      baseUnit:
        $ref: '#/definitions/BaseUnit'
      dayfraction:
        description: fraction of 24hr production this represents    
        type: number
        format: float
        default: 1
      required: [dim, milk]


  Lactation:
    description: A single lactation of any length.
    type: object
    properties:
      ID:
        type: string
      name:
        type: string
      breed:
        type: string
        description: breed of cow
        default: "H"
        enum: [H, J, BS, G, X]
      unit:
       $ref: '#/definitions/BaseUnit'
      parity:
        description: parity of this lactation
        type: number
        format: integer
        default: 3
      points:
        type: array
        items: 
          $ref: '#/definitions/MilkPt'
    required: [points]
    
  LactationList:
    description: A list of lactations.
    type: object
    properties:
      unit:
       $ref: '#/definitions/BaseUnit'
      lactations:
        type: array
        items: 
          $ref: '#/definitions/Lactation'
      required: [lactations]
      
      

    
