{
  "openapi": "3.0.0",
  "info": {
    "title": "MilkBot lactation API",
    "description": "## MilkBot Fitting\nThis service uses the MilkBot fitting engine to fit the MilkBot\nmodel to lactation data. The\nreturned parameter set can be substituted into the MilkBot\nequation<br><br> ((1 - E^((offset - t)/ramp)/2)*scale)/E^(decay X t)\n<br><br>to generate predicted milk production at any time in the lactation,\nwhere t is time since calving (in days, DIM=0 at calving) and E is Euler's\nnumber.<br><br> Simple formulas described at the support URL can calculate\npersistence, M305, or cumulative milk between dates. For a fuller description of \nthe model see [Quantifying inter-group variability in lactation curve shape and \nmagnitude with the MilkBot® lactation model](https://peerj.com/articles/54/)\n## API Keys\nTo use this service, a valid API key must be in a `X-API-Key` header of each request. \nFor a free API Key, contact Jim Ehrlich jehrlich@MilkBot.com\n## Priors Tree\nThe fitting process uses Bayesian prior expectations as the expected means and standar deviation of\nparameter values as well as expected sd of fitting error. If priors are\nprovided, they will be used. Otherwise default values based on breed and\nparity will be used. Use `GET /priorsTree` to see default priors.\nThe PriorsTree uses a `discriminator` at each node to value lactations to an appropriate\n`Priors`. \n## Customizing\n- **Priors** It is easy to generate a customized PriorsTree by fitting a training set of lactations,\nthen using the averages from that set as the priors for future fittings.  \n- **Options** The optional `Options` object may be included with a `FittingJob` to control what\ndata is returned.\n- **Milk Units**  Milk values may be in Kg (the default) or pounds (by specifying \"milkUnit\": \"Lb\")\n## Data constraints\n- Fitting Jobs may exceed the maximum memory available to the fitting function. If that becomes a problem\nplease contact us and we will consider increasing the memory pool. A Workaround is to fit in small batches or \nas individual lactations.\n",
    "termsOfService": "http://MilkBot.com/terms/",
    "contact": {
      "name": "Jim Ehrlich, DVM",
      "email": "jehrlich@MilkBot.com"
    },
    "version": "1.3.0"
  },
  "servers": [
    {
      "description": "USA",
      "url": "https://milkbot.com"
    },
    {
      "description": "Europe",
      "url": "https://europe-west1-numeric-analogy-337601.cloudfunctions.net/milkBot-fitter"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/fitLactation": {
      "post": {
        "operationId": "fit_single",
        "summary": "Fit single lactation",
        "description": "Fit a single lactation from the supplied array of  (DIM, milk weight) data pairs using a default tree of Bayesian priors stratified by on breed and parity.",
        "parameters": [
          {
            "in": "query",
            "name": "includePath",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "include intermediate parameter values at each step in the iterative fit process in response"
            }
          }
        ],
        "requestBody": {
          "description": "a single lactation",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "lactation"
                ],
                "properties": {
                  "lactation": {
                    "$ref": "#/components/schemas/Lactation"
                  },
                  "priors": {
                    "$ref": "#/components/schemas/Priors"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lactation fitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/fitLactations": {
      "post": {
        "operationId": "fit_lactations",
        "summary": "Fit a list of lactations.",
        "description": "Fit a group of lactations returning fitted parameter values. If '**_priors_**' are supplied they will be used. Otherwise fitting will be done from defaults.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "fittingJob"
                ],
                "properties": {
                  "fittingJob": {
                    "$ref": "#/components/schemas/FittingJob"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "fitted parameter values for lactations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FittingResult"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/priorstree": {
      "get": {
        "operationId": "get_priors",
        "summary": "Get default tree of prior expectations",
        "description": "Get the default Priors that will be used if an alternative is not supplied by the user",
        "parameters": [
          {
            "name": "milkUnit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MilkUnit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lactation fitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Params"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "X-API-KEY",
        "in": "header"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "401 Users must log in"
      },
      "BadRequest": {
        "description": "The server could not understand the request due to invalid syntax.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The server can not find the requested resource.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "MilkUnit": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "abbreviated name of measurement unit lb=pounds, kg=kilograms, l=liters, g=grams",
            "default": "kg",
            "example": "kg",
            "enum": [
              "lb",
              "kg",
              "l",
              "g"
            ]
          }
        },
        "description": "Unit of measurement used for scale and milk weights, defaulting to kg."
      },
      "MilkPt": {
        "description": "Measured milk production data point.",
        "required": [
          "dim",
          "milk"
        ],
        "type": "object",
        "properties": {
          "dim": {
            "description": "Days since calving date (DIM).",
            "type": "number",
            "format": "integer",
            "example": 33
          },
          "milk": {
            "description": "quantity of milk produced in one day, or a fraction of a day if **_dayFraction_** is supplied. Milk is measured in units specified by **_milkUnit_**, defaulting to kg",
            "type": "number",
            "format": "float",
            "example": 21
          },
          "dayFraction": {
            "description": "fraction of one day's production that **_milk_** represents, defaulting to 1.0",
            "type": "number",
            "format": "float",
            "default": 1,
            "example": 0.5
          }
        }
      },
      "Lactation": {
        "description": "A single lactation of any length.",
        "required": [
          "lacKey",
          "points"
        ],
        "type": "object",
        "properties": {
          "lacKey": {
            "type": "string",
            "example": "Bossie123",
            "description": "an identifier to key this lactation. **_lacKey_** values must be unique within a LactationList."
          },
          "breed": {
            "type": "string",
            "description": "breed of cow",
            "default": "H",
            "example": "J"
          },
          "parity": {
            "type": "number",
            "description": "parity of this lactation",
            "format": "integer",
            "default": 2,
            "example": 1
          },
          "points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MilkPt"
            }
          }
        }
      },
      "Params": {
        "description": "Parameter set for the MilkBot model",
        "required": [
          "decay",
          "ramp",
          "scale"
        ],
        "type": "object",
        "properties": {
          "scale": {
            "description": "Overall scale of milk production in units specified by milkUnit. The MilkBot&reg; model can be converted to another unit of measurement for milk simply by multiplying the scale parameter by an appropriate conversion factor",
            "format": "float",
            "example": 25.3
          },
          "ramp": {
            "description": "Length of ramp-up period at start of lactation, in **days**.",
            "type": "number",
            "example": 20,
            "format": "float"
          },
          "offset": {
            "type": "number",
            "description": "Offset between calving and theoretical start of lactation in **days**.",
            "format": "float",
            "example": 0,
            "default": 0
          },
          "decay": {
            "description": "first order decay constant in inverse-days that controls the decline in milk production.",
            "type": "number",
            "format": "float",
            "example": 0.02
          },
          "milkUnit": {
            "$ref": "#/components/schemas/MilkUnit"
          }
        }
      },
      "PriorsTree": {
        "description": "Recursive tree structure with a discriminator function that determines whether the content is applicable to a Lactation.  ",
        "type": "object",
        "required": [
          "node"
        ],
        "properties": {
          "node": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PriorsNode"
              },
              {
                "$ref": "#/components/schemas/PriorsTreeNode"
              }
            ]
          }
        }
      },
      "Priors": {
        "description": "Optional Bayesian prior expectations for use by fitting engine. If not provided, defaults based on breed and parity will be used. **_means_** are the expected mean parameter values for the population and **_sd_** are expected standard deviation of parameter values for the population **_seMilk_** is expected standard error of milk measurements excluding the effects of a normal lactation curve",
        "type": "object",
        "properties": {
          "means": {
            "$ref": "#/components/schemas/Params"
          },
          "sd": {
            "$ref": "#/components/schemas/Params"
          },
          "seMilk": {
            "description": "standard error in measurement of milk per day",
            "type": "number",
            "format": "float",
            "example": 5.2
          },
          "milkUnit": {
            "$ref": "#/components/schemas/MilkUnit"
          },
          "discriminator": {
            "$ref": "#/components/schemas/LacDiscriminator"
          }
        }
      },
      "PriorsNode": {
        "description": "Priors with a Discriminator that matches the Priors to lactations.",
        "type": "object",
        "properties": {
          "priors": {
            "$ref": "#/components/schemas/Priors"
          },
          "discriminator": {
            "$ref": "#/components/schemas/LacDiscriminator"
          }
        }
      },
      "PriorsTreeNode": {
        "description": "A Discriminator that matches teither a PriorNode or a PriorsTreeNode to lactations.",
        "type": "object",
        "properties": {
          "node": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PriorsNode"
              },
              {
                "$ref": "#/components/schemas/PriorsTreeNode"
              }
            ]
          },
          "discriminator": {
            "$ref": "#/components/schemas/LacDiscriminator"
          }
        }
      },
      "FittingJob": {
        "description": "A set of lactations to fit with optional priors tree and fit options..",
        "required": [
          "lactationSet"
        ],
        "type": "object",
        "properties": {
          "lactationSet": {
            "$ref": "#/components/schemas/LactationSet"
          },
          "priorsTree": {
            "$ref": "#/components/schemas/PriorsTree"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          }
        }
      },
      "FittingResult": {
        "description": "the result of fitting a FittingJob, structured according to the FitOption.",
        "required": [
          "fits"
        ],
        "type": "object",
        "properties": {
          "fits": {
            "$ref": "#/components/schemas/Fit"
          },
          "lactationSet": {
            "$ref": "#/components/schemas/LactationSet"
          },
          "priorsTree": {
            "$ref": "#/components/schemas/PriorsTree"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          }
        }
      },
      "LactationSet": {
        "description": "A set of lactations with optional milk unit (Kg is default).",
        "required": [
          "lactations"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "name for this group of lactations, such as herd name or group",
            "type": "string",
            "example": "Example Farm"
          },
          "lactations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lactation"
            }
          },
          "milkUnit": {
            "$ref": "#/components/schemas/MilkUnit"
          }
        }
      },
      "Fit": {
        "description": "Results of fitting an array of data points from one lactation to the MilkBot model",
        "required": [
          "params"
        ],
        "type": "object",
        "properties": {
          "lacKey": {
            "description": "an identifier to key for a Lactation.",
            "type": "string",
            "example": "Bossie123"
          },
          "params": {
            "$ref": "#/components/schemas/Params"
          },
          "n": {
            "type": "number",
            "description": "number of data points used to calculate fitted parameters.",
            "format": "integer",
            "example": 12
          },
          "sdResiduals": {
            "type": "number",
            "description": "standard deviation of residuals between data points and fitted curve.",
            "format": "float",
            "example": 2.3
          }
        }
      },
      "Options": {
        "description": "Options to be used in fitting and returning results",
        "type": "object",
        "properties": {
          "steppedFit": {
            "description": "Should a seperate fitting be made for each data point instead of one fit for the lactation as a whole?",
            "type": "boolean",
            "default": false,
            "example": false
          },
          "returnInputData": {
            "description": "Should all milk data be returned in the response, or only the fitted parameters and lactation key?",
            "type": "boolean",
            "default": false,
            "example": false
          },
          "returnPriors": {
            "description": "Should the matches Priors be returned with each fit?",
            "type": "boolean",
            "default": false,
            "example": false
          },
          "returnPath": {
            "description": "Should parameters for each step in the fitting of each lactation be returned?",
            "type": "boolean",
            "default": false,
            "example": false
          },
          "fitMethod": {
            "$ref": "#/components/schemas/FitMethod"
          },
          "milkUnitReturned": {
            "$ref": "#/components/schemas/MilkUnit"
          }
        }
      },
      "FitMethod": {
        "description": "the fitting algorithm variant",
        "type": "string",
        "enum": [
          "MilkBot@2.01"
        ],
        "default": "MilkBot@2.01"
      },
      "FitSet": {
        "description": "fits from a LactationSet",
        "type": "object",
        "properties": {
          "fitMethod": {
            "$ref": "#/components/schemas/FitMethod"
          },
          "fitDate": {
            "description": "ISO-8601-formatted datetime added by the server at fitting",
            "type": "string",
            "format": "date-time",
            "example": "2020-01-10T10:30:37Z"
          },
          "fitted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FittedLactation"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "FittedLactation": {
        "description": "fits from a LactationSet",
        "type": "object",
        "required": [
          "fit"
        ],
        "properties": {
          "fit": {
            "$ref": "#/components/schemas/Fit"
          },
          "lactation": {
            "$ref": "#/components/schemas/Lactation"
          },
          "priors": {
            "$ref": "#/components/schemas/Priors"
          },
          "path": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Params"
            }
          }
        }
      },
      "LacDiscriminator": {
        "description": "function used to match priors to lactations with specified attributes. Breed and Parity are default discriminators, but other attributes supplied with lactations may be used to customize fitting.",
        "type": "object",
        "required": [
          "key",
          "value",
          "_type"
        ],
        "oneOf": [
          {
            "$ref": "#/components/schemas/AllMatch"
          },
          {
            "$ref": "#/components/schemas/StringMatch"
          },
          {
            "$ref": "#/components/schemas/NumberMatch"
          },
          {
            "$ref": "#/components/schemas/EqualOrGreater"
          },
          {
            "$ref": "#/components/schemas/EqualOrLess"
          }
        ],
        "discriminator": {
          "propertyName": "_type",
          "mapping": {
            "models.api.AllMatch": "#/components/schemas/AllMatch",
            "models.api.StringMatc": "#/components/schemas/StringMatch",
            "models.api.NumberMatch": "#/components/schemas/NumberMatch",
            "models.api.EqualOrGreater": "#/components/schemas/EqualOrGreater",
            "models.api.EqualOrLess": "#/components/schemas/EqualOrLess"
          }
        }
      },
      "AllMatch": {
        "description": "matches any value in the key field",
        "type": "object",
        "required": [
          "key",
          "_type"
        ],
        "properties": {
          "key": {
            "description": "field name (key) in input data",
            "type": "string",
            "example": "breed"
          },
          "_type": {
            "description": "case-insensitive name of function for comparing value to field value in lactation",
            "type": "string",
            "enum": [
              "AllMatch"
            ],
            "example": "AllMatch"
          }
        }
      },
      "StringMatch": {
        "description": "case-insensitive string match",
        "type": "object",
        "required": [
          "key",
          "value",
          "_type"
        ],
        "properties": {
          "key": {
            "description": "field name (key) in lactation",
            "type": "string",
            "example": "breed"
          },
          "value": {
            "description": "value that must match in lactation field",
            "type": "string",
            "example": "H"
          },
          "_type": {
            "description": "name of function type",
            "type": "string",
            "enum": [
              "StringMatch"
            ],
            "example": "StringMatch"
          }
        }
      },
      "NumberMatch": {
        "description": "number match",
        "type": "object",
        "required": [
          "key",
          "value",
          "_type"
        ],
        "properties": {
          "key": {
            "description": "field name (key) in lactation",
            "type": "string",
            "example": "parity"
          },
          "value": {
            "description": "value that must match in lactation field",
            "type": "number",
            "example": 2
          },
          "_type": {
            "description": "name of function type",
            "type": "string",
            "enum": [
              "NumberMatch"
            ],
            "example": "NumberMatch"
          }
        }
      },
      "EqualOrGreater": {
        "description": "lactation has value >= this value",
        "type": "object",
        "required": [
          "key",
          "value",
          "_type"
        ],
        "properties": {
          "key": {
            "description": "field name (key) in lactation",
            "type": "string",
            "example": "parity"
          },
          "value": {
            "description": "value that must match in lactation field",
            "type": "number",
            "example": 3
          },
          "_type": {
            "description": "name of function type",
            "type": "string",
            "enum": [
              "EqualsOrGreater"
            ],
            "example": "EqualsOrGreater"
          }
        }
      },
      "EqualOrLess": {
        "description": "lactation has value >= this value",
        "type": "object",
        "required": [
          "key",
          "value",
          "_type"
        ],
        "properties": {
          "key": {
            "description": "field name (key) in lactation",
            "type": "string",
            "example": "parity"
          },
          "value": {
            "description": "value that must match in lactation field",
            "type": "number",
            "example": 3
          },
          "_type": {
            "description": "name of function type",
            "type": "string",
            "enum": [
              "EqualsOrLess"
            ],
            "example": "EqualsOrLess"
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "error response per RFC 7807",
        "required": [
          "title",
          "status"
        ],
        "properties": {
          "errorType": {
            "type": "string",
            "description": "a URI identifier that categorizes the error",
            "example": "/errors/incorrect-user-pass"
          },
          "title": {
            "type": "string",
            "description": "A brief, human-readable message about the error",
            "example": "incorrect username or password"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 400
          },
          "detail": {
            "type": "string",
            "description": "a human-readable description of the specific error",
            "example": "Authentication failed due to incorrect username or password."
          },
          "instance": {
            "type": "string",
            "description": "a URI that identifies the specific occurrence of the error",
            "example": "/login/log/abc123"
          }
        }
      }
    }
  }
}